GATEWAY_PORT=3000

LLAMA_REPO=https://github.com/stephencox-ict/llama.cpp.git
LLAMA_BRANCH=gemma4-audio-pr
LLAMA_IDLE_TIMEOUT=300
CHATTERBOX_DEFAULT_MODEL=chatterbox-turbo
CHATTERBOX_IDLE_TIMEOUT=300

WHISPERX_DEFAULT_MODEL=turbo
WHISPERX_COMPUTE_TYPE=float16
WHISPERX_BATCH_SIZE=16
WHISPERX_ENABLE_DIARIZATION=true
WHISPERX_IDLE_TIMEOUT=300
